body {
    background-color: #220c57;
    color: #fff;
}

a {
    color: #00B7FF;
}

.border {
    border: 4px solid;
}

.border-primary {
    border-color: #0275d8 !important;
}

.full-height {
    height: 100%;
}

#login-container {
    margin-top: 30px;
}

#loginRow {
    display: flex;
    justify-content: flex-start;
    color: #fff;
    align-items: center;
}

#loginWelcome {
    margin-left: 20px;
}

div#loading-screen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

#login-form {
    color: #000;
}