.car-container {
    width: 50%;
    border: 1px solid black;
    padding: 5px;
}

.submit-button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.add-new-blog-form {
    position: fixed;
    left: 10%;
    width: 80%;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: yellow;
    transition: 0.5s all;
}

.hide-form {
    left: -80%;
}

.blog-item {
    padding: 10px;
    background-color: #eef;
    border: 2px solid #bbf;
    border-radius: 10px;
    margin: 10px 0px;
}

.blog-item-button-row {
    display: flex;
    justify-content: space-around;
}

.search-container {
    height: 60px;
    background-color: #ccf;
    margin: 20px 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 75%;
    transition: 0.5s all;
}

.search-container button {
    margin-left: 20px;
}

.order-select {
    margin-left: 20px;
}

@media only screen and (max-width: 992px) {
    .search-container {
        height: 180px;
    }
}

.hide-search {
    height: 10px;
    overflow: hidden;
    visibility: hidden;
}