.car-container {
    width: 50%;
    border: 1px solid black;
    padding: 5px;
}

.submit-button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.add-new-blog-form {
    position: fixed;
    left: 10%;
    width: 80%;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: yellow;
    transition: 0.5s all;
}

.hide-form {
    left: -80%;
}

.blog-item {
    padding: 10px;
    background-color: #eef;
    border: 2px solid #bbf;
    border-radius: 10px;
    margin: 10px 0px;
}

.blog-item-button-row {
    display: flex;
    justify-content: space-around;
}